<!DOCTYPE html>
<html>
	<head>
		<title>MessageVanishes</title>
		<script src="/vendor/aes.js"></script>
		<script src="/vendor/app.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	</head>
	<body>
	    <%if @error && @error.length > 0 then %>
        	<p><%= @error %></div>
        	<% @error=nil %>
      	<% end %>
		<%= yield %>
 	</body>
</html>