<!DOCTYPE html>
<html>
	<head>
		<title>MessageVanishes</title>
		<script src="/vendor/app.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
	</head>
	<body>
		<div class="container">
		    <%if @error && @error.length > 0 then %>
	        	<p><%= @error %></p>
	        	<% @error=nil %>
	      	<% end %>
			<%= yield %>
		</div>
 	</body>
</html>