<h1>Enter your message</h1>

<form action="/" method="POST">
	<label for="message">Message</label>
	<textarea id="message" rows="5" class="u-full-width"></textarea>
	<br>
	<label for="password">Password</label>
	<input type="text" id="password" name="password" class="u-full-width">
	<br>
	<label for="destroy">Destroy after</label>
	<input type="text" id="destroy" name="message[count]" value="<%= @m.count %>">
	<select name="message[method]">
		<option value="hours" <%= @m.method=="hours" ? "selected" : "" %>>hours</option>
		<option value="visits" <%= @m.method=="visits" ? "selected" : "" %>>visits</option>
	</select><br>
	<textarea id="aes_message" name="message[body]" hidden="true"></textarea>
	<br>
	<input type="submit" value="Submit" onclick="encrypt_message('#message', '#password', '#aes_message')">
</form>