<h1>Show message</h1>
<textarea id="aes_message" hidden="true"><%= @m.body %></textarea>
<label for="password">Password</label><br>
<input type="text" id="password"><br>
<br>
<input type="button" value="Decrypt" onclick="decrypt_message('#aes_message', '#password', '#message')"><br>
<br>
<label for="message">Message</label><br>
<textarea id="message" rows="5"></textarea><br>